<section data-ng-init="findBoards()">
    <div id="header" data-ng-show="authentication.user">
        <span id="board-create" class="btn btn-sm button-default" ns-popover-template="./client.board.create.html" ns-popover-placement="bottom">보드 생성</span>
        <span id="board-user">
            <span data-ng-bind="authentication.user.username"></span>
            <span class="btn button-default" href="/signout">로그아웃</span>
        </span>
    </div>
    <ul scroll-glue>
        <span data-ng-repeat="board in boards">
            <li class="board-outer">
                <div id="deleteBtn" data-ng-show="authentication.user._id == board.creator" data-ng-click="delete(board);" ></div>
                <div class="button" ui-sref="board_memo({boardId : board._id})">
                    <h data-ng-bind="board.name"></h> <!-- 보드 들어가기 -->
                </div>
            </li>
        </span>
    </ul>

</section>

