<section data-ng-init="findBoards()">
    <div class="header" data-ng-show="authentication.user">
        <span class="board-create">
          <span class="btn btn-sm button-default" ns-popover ns-popover-template="popover" ns-popover-placement="bottom|left" >보드 생성</span>
        </span>
        <span class="board-user">
            <span data-ng-bind="authentication.user.username"></span>
            <a class="btn button-default" href="/signout">로그아웃</a>
        </span>
    </div>
    <ul scroll-glue>
        <span data-ng-repeat="board in boards">
            <li class="board-outer">
                <div id="deleteBtn" data-ng-show="authentication.user._id == board.creator" data-ng-click="delete(board);" ></div>
                <div class="button" ui-sref="board_memo({boardId : board._id})">
                    <h data-ng-bind="board.name"></h> <!-- 보드 들어가기 -->
                </div>
            </li>
        </span>
    </ul>

</section>



<script type="text/ng-template" id="popover">
    <div class="triangle"></div>
    <div class = "popover-outer">
        <form class="form-signin" name="boardForm" data-ng-submit="create()" novalidate>
            <div>
                <label for ="name">Board name</label>
                <div>
                    <input class='form-control' type="text" data-ng-model = "boardName" id="name" placeholder="보드명" required>
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-success" type="submit" ng-disabled="boardForm.$invalid">완료</button>
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</script>

