body {
    padding-top: 50px;
}
.navbar-text {
    padding: 15px 15px;
    font-size: 12px;
    line-height: 20px;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}
.sidebar .boardList {
    padding:10px;
    font-size: 16px;
}

.sidebar .boardList:hover {
    background-color: #64B5F6;
}

.sidebar .boardList .deleteIcon{
    float:right;
    cursor: pointer;
    content:url(../image/setting.png);

}

.sidebar .boardList .boardName:hover,
.sidebar .boardList .deleteIcon:hover{
    color: rgb(255,255,255);
}
.sidebar .boardList >span > small {
    font-weight: bold;
    padding-right: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.button-default {
    border-radius: 5px;
    background-color: #5cb85c;
}
.button.board:hover{
    background-color: #4cae4c;
}

.popover-outer{
    padding: 8px 12px;
    background-color: #ffffff;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    z-index: 1100;
}

.popover-board {
    position: absolute;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.popover-board .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.popover-board > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.popover-board > li > a:hover,
.popover-board > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.form-popover {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}



.button-outer{
    width: 150px;
    height: 250px;
    display: inline-block;
    padding: 10px 10px;
    margin: 20px;
    line-height: 1.42857143;
    white-space: normal;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button {
    width: 100%;
    height: 100%;
    background-color: #ffffcc;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    word-break: break-all;
}

.text{
    text-align: center;
    /* 한 줄 자르기 */
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.title {
    margint-top: 2px;
    float: left;
    font-weight: bold;
    -webkit-line-clamp: 2;
}

.content {
    margint-top: 3px;
    -webkit-line-clamp: 7;
}
.button-default {
    border-radius: 5px;
    background-color: #5cb85c;
}/*
.button-default:hover {
    background-color: #afd9ee;
}*/
.button.board:hover{
    background-color: #4cae4c;
}

.button.memo:hover{
    background-color: #faf2cc;
}

#deleteBtn{
    float:right;
    z-index: 1000;
    content:url(../image/delete.png);
}
#deleteBtn2{
    content:url(../image/delete.png);
}

.image-thumbnail{
    width: 150px;
    heigtht: 150px;
}