<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-sm" scroll-glue>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text" data-ng-bind="memo.title"></h4>
            </div>
            <div class="modal-body">
                <div data-ng-show="memoToggle">
                    <h class="text" data-ng-bind="memo.contents"></h>
                    <br>
                    <small data-ng-bind="memo.created | date:'medium'"></small>
                    <small data-ng-bind="memo.creator.username"></small>
                    <a data-ng-show="authentication.user._id === memo.creator._id" class="btn-sm btn-primary" href data-ng-click="toggleEdit()">edit</a>
                </div>
                <div data-ng-show="!memoToggle">
                    <form data-ng-submit="update()" novalidate>
                        <div>
                            <label for ="title">Title</label>
                            <div>
                                <input type="text" data-ng-model ="memo.title" id="title" placeholder="Title" required scroll-glue>
                            </div>
                        </div>
                        <div>
                            <label for="contents">Content</label>
                            <div>
                                <textarea data-ng-model="memo.contents" id="contents" cols="30" rows="10" placeholder="Contents"></textarea>
                            </div>
                        </div>
                        <div>
                            <button class="btn-sm btn-success" type="submit">완료</button>
                        </div>
                        <div data-ng-show="error">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </form>
                </div>

                <div >
                    <a data-ng-click="fileList()"> File Attachment</a>
                    <div data-ng-show="fileToggle">
                        <div data-ng-repeat="file in memo.files">
                            <span ng-show="file.contentType.substr(0,5) == 'image'">
                                <a ng-click="viewFile(file)" data-ng-bind="file.filename" > </a>
                            </span>
                            <a ng-show="file.contentType.substr(0,5) != 'image'" ng-click="downloadFile(file, $index)" data-ng-bind="file.filename" > </a>
                            <a ng-click="deleteFile(file)">delete</a>
                            <a ng-click="downloadFile(file, $index)" target="_blank" class="downLoad" download="" href="">download</a>
                        </div>
                        <br>
                        <button type="button" class="btn btn-default" ngf-select="uploadFiles($files)" multiple="multiple" ngf-max-size="100MB" >file select</button>
                        <div ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'"ngf-multiple="true" ngf-max-size="20MB">
                            <br>
                            Drop files here
                            <br>
                        </div>
                    </div>
                    <div data-ng-show="progressPercentage">
                        <p> <span data-ng-bind="progressPercentage"></span> %</p>
                    </div>

                </div>

                <br>
                <form data-ng-submit="createComment()">
                    <div>
                        <label for="comment">Add Comment</label>
                        <div>
                            <textarea data-ng-model="comment" id="comment" cols="30" rows="5" placeholder="Write a comment.." scroll-glue></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="btn-sm btn-info"type="submit">댓글 남기기</button>
                    </div>
                </form>
                <br>
                <div data-ng-repeat="comment in comments">
                    <div data-ng-show="!commentToggle[$index]">
                        <span data-ng-bind="comment.creator.username"></span>
                        <span data-ng-bind="comment.content"></span>
                        <br>
                        <small data-ng-bind="comment.created  | date:'medium'"></small>
                        <div data-ng-show="authentication.user._id == comment.creator._id">
                            <a class="btn-sm btn-primary" href data-ng-click="commentToggleEdit(comment)">수정</a>
                            <a class="btn-sm btn-primary" href data-ng-click="deleteComment(comment)">삭제</a>
                        </div>
                    </div>
                    <div data-ng-show="commentToggle[$index]">
                        <form data-ng-submit="editComment(comment)">
                                <div>
                                    <textarea data-ng-model="comment.content" id="content" cols="30" rows="1" placeholder="Write a comment.."></textarea>
                                </div>
                                <button type="submit" class="btn-sm btn-success">수정</button>
                        </form>
                    </div>
                    <br>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>