<div class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">CREATE MEMO</h4>
            </div>
            <div class="modal-body">
                <form data-ng-submit="create()" novalidate>
                    <div>
                        <label for ="title">Title</label>
                        <div>
                            <input type="text" data-ng-model ="title" id="title" placeholder="Title" required>
                        </div>
                    </div>
                    <div>
                        <label for="contents">Content</label>
                        <div>
                            <textarea data-ng-model="contents" id="contents" cols="30" rows="10" placeholder="Contents"></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit">작성하기</button>
                    </div>
                    <div data-ng-show="error">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </form>
                <div>
                    <p> File Attachment</p>
                    <div data-ng-repeat="file in files">
                        <img ngf-thumbnail="file">
                        <p data-ng-bind="file.name"> </p>
                        <button type="button" ng-click="deleteFile(file)">-</button>
                        <br>
                    </div>
                    <form name="fileForm" data-ng-submit="fileSubmit()">
                        <<div ngf-drop="add($file)" ng-model="file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-max-size="20MB" ngf-min-height="100"
                             ngf-resize="{width: 150, height: 150}">drop</div>
                        <br>
                        <button type="button" ngf-select="add($file)" ng-model="file" ngf-multiple="true" ngf-max-size="20MB" ngf-min-height="100"
                                ngf-resize="{width: 150, height: 150}">Select</button>
                        <button type="submit">upload</button>
                    </form><!--
                    <button type="button" ngf-select="add($file)" multiple="multiple" ngf-max-size="20MB" ngf-min-height="100"
                         ngf-resize="{width: 150, height: 150}">Upload on file select</button>
                    <div type="button" ngf-drop="add($file)" class="drop-box" ngf-drag-over-class="'dragover'"ngf-multiple="true" ngf-max-size="20MB" ngf-min-height="100"
                         ngf-resize="{width: 150, height: 150}">Drop </div>-->
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>