<div class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">CREATE MEMO</h4>
            </div>
            <div class="modal-body">
                <form data-ng-submit="create()" name="form" novalidate>
                    <div>
                        <label for ="title">Title</label>
                        <div>
                            <input type="text" data-ng-model ="title" id="title" placeholder="Title" required>
                        </div>
                    </div>

                    <label for="contents">Content</label>
                    <div>
                        <div>
                            <textarea data-ng-model="contents" id="contents" cols="30" rows="10" placeholder="Contents"></textarea>
                            <div>
                                <button type="button" ng-model="files" ngf-select="add($files)" name="files" multiple="multiple" ngf-max-size="20MB" ngf-min-height="100"
                                        ngf-resize="{width: 150, height: 150}">File Select</button>
                            </div>
                        </div>
                    </div>
                    <div data-ng-repeat="file in fileList">
                        <img ngf-thumbnail="file">
                        <p data-ng-bind="file.name"> </p>
                        <br>
                    </div>
                    <div>
                        <button type="submit">작성하기</button>
                    </div>
                    <div data-ng-show="error">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>