//
   Created by Jun on 2016-03-17.
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheet/index.css")
        title WebMemo
    body
        section(ui-view)

        script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/lib/angular/angular.js")
        script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js")
        script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
        script(type="text/javascript" src="/lib/angular-modal-service/dst/angular-modal-service.min.js")
        script(type="text/javascript" src="/lib/angular-scroll-glue/src/scrollglue.js")
        script(type="text/javascript" src="/lib/nsPopover/src/nsPopover.js")
        script(type="text/javascript" src="/lib/ng-file-upload/forIE.js")
        script(type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js")
        script(type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js")

        script(type="text/javascript" src="/index/index.client.module.js")
        script(type="text/javascript" src="/index/config/index.client.routes.js")
        script(type="text/javascript" src="/index/controllers/index.client.controller.js")
        script(type="text/javascript" src="/index/controllers/index.client.modalCtrl.js")
        script(type="text/javascript" src="/index/services/index.client.service.js")

        script(type="text/javascript" src="/memo/memo.client.module.js")
        script(type="text/javascript" src="/board/client.board.module.js")

        script(type="text/javascript" src="/app.js")
